.dubai{
	height:50%;
	width:80%;
	padding:10px;
	margin:12px;
}





.block2
{
	display:inline-block;
	height:500px;
	width:500px;
	background-color:red;
}


.dubai1{
		height:500px;
		width:500px;
		background-color:blue;
		
}